body {
    font-family: Monospaced, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: darkgray;
}
header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  /* Changed from center to align-items: flex-start */
    padding-bottom: 10px;
}
.logo {
    width: 200px; /* Logo width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Adjust based on your needs */
}
h1 {
    margin: 0;
}

nav ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;

}
nav ul li button {
    font-family: 'ui-monospace', Monospaced;
    font-size: 14px;
    color: #000;
    background-color: #c0c0c0;
    border: 2px solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: crosshair;
    outline: 1px solid #000;
}

nav ul li button:active {
    border-color: #808080 #ffffff #ffffff #808080;
}

nav ul li button a {
    text-decoration: none;
    color: #000;
    cursor: crosshair;
}
section {
    margin-bottom: 20px;
}


.logo-window {
    width: 210px;
    border: 2px solid #c0c0c0;
    background-color: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    position: relative;  /* Change from absolute to relative */
    cursor: move;
    user-select: none;
    z-index: 1000;
}

.window-toolbar {
    background-color: #000080;
    color: white;
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-title {
    font-size: 11px;
    font-weight: bold;
}

.window-close {
    background-color: #c0c0c0;
    border: 1px solid #ffffff;
    border-right-color: #000000;
    border-bottom-color: #000000;
    color: #000000;
    width: 16px;
    height: 16px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.window-content {
    padding: 2px;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #7f7f7f #ffffff #ffffff #7f7f7f;
}
